@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("./static/DMSans-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("./static/DMSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./static/DMSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./static/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./static/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./static/DMSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./static/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./static/DMSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./static/DMSans-Black.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("./static/DMSans-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("./static/DMSans-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("./static/DMSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./static/DMSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("./static/DMSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("./static/DMSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("./static/DMSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("./static/DMSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("./static/DMSans-BlackItalic.ttf") format("truetype");
}
